<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Searchlogger1</servlet-name>
        <servlet-class>abc.Searchlogger1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Searchlogger2</servlet-name>
        <servlet-class>abc.Searchlogger2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Searchlogger3</servlet-name>
        <servlet-class>abc.Searchlogger3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Searchlogger4</servlet-name>
        <servlet-class>abc.Searchlogger4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Bean</servlet-name>
        <servlet-class>Bean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bean</servlet-name>
        <servlet-class>bean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logbean</servlet-name>
        <servlet-class>bean.Logbean</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Searchlogger1</servlet-name>
        <url-pattern>/Searchlogger1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Searchlogger2</servlet-name>
        <url-pattern>/Searchlogger2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Searchlogger3</servlet-name>
        <url-pattern>/Searchlogger3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Searchlogger4</servlet-name>
        <url-pattern>/Searchlogger4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bean</servlet-name>
        <url-pattern>/Bean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bean</servlet-name>
        <url-pattern>/bean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logbean</servlet-name>
        <url-pattern>/Logbean</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
